<div id="event-detail">
  <ul class="event-detail-list">
    <li class="event-detail-item" id="id" hidden>
      <label>{{ID}}:</label>
      <span></span>
    </li>
    <li class="event-detail-item" id="start" hidden>
      <label>{{START}}:</label>
      <span></span>
    </li>
    <li class="event-detail-item" id="end" hidden>
      <label>{{END}}:</label>
      <span></span>
    </li>
    <li class="event-detail-item" id="color" hidden>
      <label>{{COLOR}}:</label>
      <span></span>
    </li>
    <li class="event-detail-item" id="title" hidden>
      <label>{{TITLE}}:</label>
      <span></span>
    </li>
    <li class="event-detail-item" id="description" hidden>
      <label>{{DESC}}:</label>
      <span></span>
    </li>
  </ul>
</div>
