$primary: #19252E;

@import "bootstrap";

body {
  font-family: "Roboto",sans-serif;
  font-weight: 300;

  .container-fluid {
    margin-top: .4rem;
    
    section {
      display: block;
    }

    select {
      padding: .3rem;
      margin: 1rem 0;
      width: 100%;
    }
  }

  #calendar {
    .fc-scroller {
      overflow: auto !important;
    }
  }
}

button {
  outline: none !important;
}